<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/signup.css">
</head>
<body>

    <h2>Sign Up</h2>
    <form action="http://127.0.0.1:5500/NewFolder/templates/signup.html" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">

    </form>
    
</body>
</html>